@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    padding: 0;
    margin: 0;

    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--white);
}

header {
    color: var(--white);
    background-color: var(--orange);

    height: 100vh;
    min-height: 500px;

    .frame {
        height: 87.5%;
        width: 100%;
        position: relative;
    }
    img {
        max-height: 100%;
        max-width: 100%;
        width: 200px;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    h1 {
        text-align: center;
        font-size: 38 px;
        animation: hoverA 1.5s infinite 0s linear;

        a {
            color: var(--white);
            text-decoration: none;
            cursor: pointer;
        }
        a:hover {
            color: rgb(231, 231, 231);
        }
    }
}

@keyframes hoverA {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}

main {
    height: 97.5vh;
    min-height: 650px;

    background-color: var(--white);
    color: var(--purple);

    display: flex;
    align-items: center;

    div {
        width: 70%;
        margin-left: 15% !important;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    h2 {
        font-size: 38px;
        text-align: center;
        font-weight: 600;
    }

    p {
        text-align: center;
        font-weight: 400;
    }

    h1 {
        text-align: center;
        font-size: 32px;
        animation: hoverA 1.5s infinite 0s linear;

        a {
            color: var(--purple);
            text-decoration: none;
            cursor: pointer;
        }
        a:hover {
            color: #666894;
        }
    }
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    font-weight: 200;
}

:root {
    --orange: #f3693b;
    --white: #ffffff;
    --black: #000000;
    --purple: #3d4073;
}
